<launch>
    <include file="$(find ur5_rbtq)/launch/ur5_start.launch"/>
    <include file="$(find ur5_rbtq)/launch/rbtq_start.launch"/>

    <arg name="sim" default="false" />
    <arg name="debug" default="false" />

    <!-- Remap follow_joint_trajectory -->
    <remap if="$(arg sim)" from="/scaled_pos_joint_traj_controller/follow_joint_trajectory" to="/pos_joint_traj_controller/follow_joint_trajectory"/>

    <!-- Launch moveit -->
    <include file="$(find ur5_moveit_config)/launch/move_group.launch">
      <arg name="debug" default="$(arg debug)" />
    </include>

    <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config" value="$(find ur5_rbtq)/launch/ur5_rbtq_rs.rviz"/>

    </include>

</launch>